@model Zipper.Application.Models.Zip.ZipFilesViewModel
@{
    ViewData["Title"] = "Zip";
}


<form method="post" enctype="multipart/form-data" >
    <div class="row">
        <div class="col col-md-3 form-group">
            <label asp-for="Files"></label>
            <input asp-for="Files" required />
            <span asp-validation-for="Files" class="text-danger"></span>
        </div>
    </div>
    <button type="submit" class="btn btn-sm btn-dark">Zip it</button>
</form>
